// 项目公用样式文件
// css变量前面--

// 声明一个全局变量 ：root{}
// 将来使用就 var(--xxx) 这样写


:root {
    // 问诊患者：色板
    // --cp-primary: #16C2A3;
    --cp-primary: #b7ef9e;
    --cp-plain: #EAF8F6;
    --cp-orange: #FCA21C;
    // 文字
    --cp-text1: #121826;
    --cp-text2: #3C3E42;
    --cp-text3: #6F6F6F;
    --cp-tag: #848484;
    --cp-dark: #979797;//灰色
    --cp-tip: #C3C3C5;//提示
    --cp-disable: #D9DBDE;
    --cp-line: #EDEDED;//边框
    --cp-bg: #F6F7F9;
    --cp-price: #EB5757;//价格
    // 覆盖vant主题色，vant里的名字--van-primary-color是这个
    // 以后需要覆盖vant里哪个颜色只要和他同名就行
    --van-primary-color: var(--cp-primary);
  }